[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = ">1.20"
awesome-streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
